label{
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.remove{
  background: url('images/icon-cross.svg') no-repeat;
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: none;
}
ul li:hover .remove{
  display: block;
}
.clear{
  cursor: pointer;
}
.clear:hover{
  color:hsl(236, 33%, 92%);
}
/*darkmode*/
body.light{
  background-color: hsl(236, 33%, 92%);
}
body.light .background{
  background: url("images/bg-desktop-light.jpg") no-repeat;
  background-size: cover;
  width: 100vw;
  height: 40vh;
}
body.light .dragdrop{
  color: hsl(236, 9%, 61%);
}
body.light .todo-input input{
  color: hsl(235, 19%, 35%);
  background-color: hsl(0, 0%, 98%);
}
body.light .todo-input button{
  border: 1px solid hsl(233, 11%, 84%);
}
body.light .todos ul li{
  background-color: hsl(0, 0%, 98%);
  color: hsl(235, 19%, 35%);
  border-bottom: 1px solid hsl(233, 11%, 84%);
}
body.light .todos input{
  border: 1px solid hsl(233, 11%, 84%);
}
body.light .todos input:checked ~ .text{
  text-decoration: line-through;
  color: hsl(233, 11%, 84%);
}
body.light .footer{
  background-color: hsl(0, 0%, 98%);
  color: hsl(236, 9%, 61%);
}
body.light .filters label:hover{
  color:hsl(235, 19%, 35%);
}
body.light .clear:hover{
  color:hsl(235, 19%, 35%);
}
.mob{
  display: none;
}
@media(max-width:600px){
  .clear, .count{
    display: none;
  }
  .background{
    background: url("images/bg-mobile-dark.jpg") no-repeat;
    background-size: cover;
    height: 35vh;
  }
  .wrapper{
    width: 90%;
  }
  .header h1{
    font-size: 1.5rem;
  }
  .filters{
    margin: auto;
  }
  .footer{
    border-radius: 8px;
    margin-top: 20px;
  }
  .mob{
  color: hsl(233, 14%, 35%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: hsl(235, 24%, 19%);
  height: 50px;
  font-size: 1rem;
  color: hsl(234, 11%, 52%);
  padding: 15px;
  border-radius: 0 0 8px 8px;
  }
  .mob-clear{
    cursor: pointer;
  }
  .mob-clear:hover{
    color:hsl(236, 33%, 92%);
  }
  body.light .mob{
    background-color: hsl(0, 0%, 98%);
    color: hsl(236, 9%, 61%);
  }
  body.light .background{
    background: url("images/bg-mobile-light.jpg") no-repeat;
    background-size: cover;
  }
  body.light .mob-clear:hover{
    color:hsl(235, 19%, 35%);
  }
}